@import "tailwindcss";

@layer base {

    :root,
    html,
    body,
    #app {
        height: 100%;
    }

    .scrollbar-custom {
        overflow-y: auto;
    }

    .scrollbar-custom::-webkit-scrollbar {
        width: 10px;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
        background-color: var(--color-gray-400);
        border-radius: 2rem;
        border: 3px solid white;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-gray-500);
    }
}