/* Chrome, Edge and Safari */
:root {
    --scrollbar-width: 8px;
}

*::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: var(--color-white);
}

*::-webkit-scrollbar-track:hover {
    background-color: var(--color-gray-200);
}

*::-webkit-scrollbar-track:active {
    background-color: var(--color-gray-300);
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--color-blue-500);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-blue-600);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--color-blue-700);
}